.aboutus{
    position: relative;
    width: 100vw;
}
.aboutusimgsection{
    position: relative;
    display: flex;
}
.aboutusimg{
    position: relative;
    width: 100vw;
}
.aboutusimgtxt{
    position: absolute;
    font-family: 'Kaushan Script';
    font-size: 7vw;
    color: #ffffff;
    top: 5vh;
    left: 25vw;
    width: 50vw;
    text-align: center;
}
/* ............................................................................... */
.whoarewe{
    position: relative;
    height: 100vh;
    width: 100vw; 
    border-bottom: 2px solid #f2b80e;  
}
.whoarewetext{
    position: relative;
    font-family: 'Rubik';
    font-size: 3vw;
    color: #000000;
    left: 30vw;
    text-align: center;
    top: 10vh;
    width: 35vw;
    height: 10vh;
    border-bottom: 2px solid #f2b80e;
}
.fewwords{
    position: relative;
    top: 25vh;
    width: 70vw;
    left: 15vw;
    height: 50vh;
    display: inline-flex;
}
.whoareweimg{
    position: relative;
    width: 45vw;
    height: 70vh;
    margin-top: -6vh;
    margin-left: -5vw;
}
.fewwordstxt1{
    position: relative;
    top: 7vh;
    font-size: 2vw;
    margin-left: -5vw;
    text-align: center;
    font-family: 'Rubik';
    color: #000000;
    font-weight: bold;
}
.fewwordstxt2{
    position: relative;
    margin-left: -5vw;
    text-align: justify;
    top: 15vh;
    font-size: 1.5vw;
    font-family: 'Rubik';
    color: #7b7e81;
    font-weight: bold;
}
/* ............................................................................... */
.ourpromises{
    position: relative;
    height: 100vh;
    border-bottom: 2px solid #f2b80e;
}
.safeppromise{
    top: 0vh;
    text-align: center;
}
.promisetxt{
    position: relative; 
    top: 7vh;
    font-size: 1.8vw;
    font-family: 'Rubik';
    color: #7b7e81;
    font-weight: bold;
    width: 65vw;
    text-align: center; 
    line-height: 7vh;
}
/* ............................................................................... */
.peoplesayaboutus{
    position: relative;
    height: 110vh;
    width: 100vw;
}
.peoplesaytext{
    position: relative;
    left: 38vw;
    height: 10vh;
    width: 22vw;
    top: 10vh;
    font-family: 'Rubik';
    font-size: 3vw;
    color: #000000;
    border-bottom: 2px solid #f2b80e;
}
.location{
    position: relative;
    top: 8vh;
    left: 5vw;
    height: 70vh;
    width: 80vw;
    border-bottom-left-radius: 1% 2%;
    border-bottom-right-radius: 1% 2%;
    border-top-left-radius: 1% 2%;
    border-top-right-radius: 1% 2%;
}
/* ------------------------------------------------------------------------------------- */
































































@media(max-width:600px){
    .whoarewe{
        height: 50vh;
    }
    .whoarewetext{
        font-size: 3vw;
        left: 30vw;
        top: 5vh;
        height: 5vh;
    }
    .fewwords{
        top: 5vh;
    }
    .whoareweimg{
        top: 5vh;
        height: 30vh;
        width: 55vw;
        left: -10vw;
    }
    .fewwordstxt1{
        position: relative;
        top: 5vh;
        font-size: 2.6vw;
        left: -10vw;
    }
    .fewwordstxt2{
        left: -10vw;
        top: 8vh;
        font-size: 2.4vw;
        width: 35vw;   
    }
    .ourpromises{
        height: 50vh;
    }
    .safeppromise{
        top: 5vh;
        left: 5vw;
    }
    .promisetxt{
        top: 9vh;
        font-size: 2.6vw;
        width: 65vw;
        line-height: 2.6vh;
    }
    .peoplesayaboutus{
        height: 55vh;
    }
    .peoplesaytext{
        left: 38vw;
        height: 5vh;
        top: 5vh;
    }
    .location{
        top: 5vh;
        left: 5vw;
        height: 30vh;
    }
}