.userprofile{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: #ffffff
}
.usersection{
    position: relative;
    display: inline-flex;
}
/* 2c00a5 */
.dashboardof{
    position: relative;
    font-family: 'Rubik';
    font-size: 1.5vw;
    left: 3.5vw;
    top: 0vh;
    font-weight: bolder;
}
.dashboardsection{
    position: relative;
    height: 100vh;
    width: 80vw;
    
}

.buttonsdiv{
    position: relative;
    height: 100vh;
    width: 10vw;
    background: linear-gradient(rgb(46, 46, 168)  ,rgb(39, 174, 219));
}
.userlogoinprofile{
    position: relative;
    top: 5vh;
    padding-top: 1vh;
    left: 3.5vw;
    padding-left: 0vw;
    padding-top: 0vh;
    height: 6vh;
    width: 3vw;
    background: #ffffff;
    color: #000000;
    border-radius: 50vw;
    border: none;
    outline: none;
    font-size: 3vw;
    font-family: 'Rubik';
}
.eachbutton{
    position: relative;
    height: 6vh;
    width: 4vw;
    left: 3vw;
    border: none;
    border-right: 2px solid #000000;
    outline: none;
    cursor: pointer;
    font-size: 1.1vw;
    font-family: 'Rubik';
    font-weight: bolder;
    margin-bottom: 5vh;
    margin-right: 5vw;
}

.logoutbutton{
    position: relative;
    top: 30vh;
    padding-top: 1vh;
    left: 3vw;
    height: 6vh;
    width: 4vw;
    border-radius: .5vw;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2vw;
    font-family: 'Rubik';
    font-weight: bolder;
}


@media(max-width:650px){
    .buttonsdiv{
        width: 15vw;
    }
    .userlogoinprofile{
        top: 5vh;
        padding-top: 1vh;
        left: 5vw;
        padding-left: 0vw;
        padding-top: 0vh;
        height: 3vh;
        width: 6vw;
        font-size: 6vw;
    }
    .eachbutton{
        height: 4vh;
        width: 8vw;
        left: 4vw;
        font-size: 5vw;
        margin-bottom: 5vh;
        margin-right: 5vw;
    }
}